@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "_fonts";

html,
body {
    height: 100%;
    width: 100%;
    font-family: rem;
}

.phx-connected,
.phx-disconnected,
.phx-loading {
    height: 100%;
}

h2 {
    font-size: 1.5rem;
    font-weight: semibold;
}

.sign-in-gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(209, 214, 231, 1) 100%);
}