<div class="flex flex-col h-full w-full">
  <._header current_user={@current_user} live_enabled={true} />
  <main class="h-full w-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>
</div>
