<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Livre" %>
    </.live_title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-zinc-200 dark:bg-zinc-900 antialiased text-zinc-900 dark:text-zinc-100 text-base">
    <%= @inner_content %>
  </body>
</html>
